 
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading" style="color: white;">
            <h1>SUITS BLOG</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <h2 class="post-title">
             
					Pourquoi apprendre Ruby on Rails ?
	 		</h2>
            <h3 class="post-subtitle">
             Une des premières choses agréables avec Ruby on Rails repose sur le langage Ruby en lui-même. La syntaxe est simple, peu verbeuse, proche de la langue anglaise et très souple.
          <p class="post-meta">Posted by
            on September 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
            <h2 class="post-title">
              Vivons-nous dans un trou noir ?<br>
              En d’autres termes, il est possible que le trou noir soit comme un conduit – une « porte à sens unique », explique le Dr. Poplawski – entre deux univers.
            </h2>
          
          <p class="post-meta">Posted by
            
            on September 18, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
          
            <h2 class="post-title">
              Première image d'un trou noir supermassif 
            </h2>
            <h3 class="post-subtitle">
             On l'attendait depuis un moment et cet évènement fera date dans l'histoire de l'exploration du Cosmos par l'Humanité. La première image d'un trou noir prise avec l'Event Horizon 
            </h3>
         
          <p class="post-meta">Posted by
    
            on August 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
         
            <h2 class="post-title">
              Développeur web : un métier qui recrute
            </h2>
            <h3 class="post-subtitle">
              « Codage informatique : le nouvel eldorado de l’emploi » met l’accent sur l’insertion professionnelle des élèves et des développeurs en général.
            </h3>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            on July 8, 2019</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-light float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
</div>
</div>
<p class="copyright text-muted">Copyright &copy; Andry Rajohnson 2019</p>
        </div>
      </div>
    </div>
  </footer>
